.welcome-inner{
	flex-direction: column;
    display: flex;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
	.top-section{
		position: relative;
		height: 50%;
		.badge-group{
			position: absolute;
			z-index: 1;
			width: calc(100% - 35px);
			height: calc(100% - 90px);
			left: 50%;
			transform: translate(-50%, -50%);
			top: 50%;
			.category-badge{
				position: absolute;
				&:nth-child(1){
					top: 0;
					left: 0;
				}
				&:nth-child(2){
					top: 30%;
					right: 0;
				}
				&:nth-child(3){
					top: 60%;
					left: 5%;
				}
				&:nth-child(4){
					bottom: 15%;
					right: 0;		
				}
				&:nth-child(5){
					bottom: 0;
					top: auto;
				}
			}
			@include custommq($max:1920px, $min:575px){
				width: calc(50% - 35px);
			}
		}
	}
	.dz-media{
		height: 100%;
		img{
			height: 100%;
			object-fit: cover;
		}
		@include custommq($max:1920px, $min:575px){
			width: 50%;
			margin: auto;
		}
	}
	.bg-circle-shape{
		box-shadow: inset 0px 0px 100px rgba(0, 42, 92, 0.1);
		background: #F6F8FB;
		width: 100%;
		height: 100%;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: -1;
		.shape{
			position: absolute;
			border-radius: 50%;
			--speed: 1.8s;
			--animation-delay: 2600ms;
			--circle-shadow: rgba(13, 55, 114, 0.3);
			&:nth-child(1){
				background-color: var(--bs-body-bg);
				opacity: 0.5;
				width: 264px;
				height: 264px;
				z-index: 3;
				box-shadow: 0px 0px 60px var(--circle-shadow);
			}
			&:nth-child(2){
				background-color: var(--bs-body-bg);
				opacity: 0.3;
				width: 318px;
				height: 318px;
				box-shadow: 0px 0px 60px var(--circle-shadow);
				z-index: 2;
			}
			&:nth-child(3){
				background-color: var(--bs-body-bg);
				opacity: 0.1;
				width: 370px;
				height: 370px;
				box-shadow: 0px 0px 60px var(--circle-shadow);
				z-index: 1;
			}
		}
	}
}
.get-started{
	position: relative;
    width: 100%;
    padding: 30px 30px 100px;
    background-color: var(--bs-body-bg);
	height: 50%;
	.welcome-swiper{
		width: 100%;
		height: 100%;
		.swiper-wrapper{
			height: auto;
		}
		.swiper-btn{
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 30px;
			height: calc(100% - 100px);
			padding: 50px 0;
			.swiper-pagination{
				width: auto;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
	.slide-info{
		text-align: center;
	}
	.title{
		font-size: 24px;
		margin-bottom: 10px;
		font-weight: 700;
		color: var(--title);
	}
	p{
		font-size: 16px;
		margin-bottom: 0;
		font-weight: 500;
	}
	.bg-shape{
		position: absolute;
		bottom: calc(100% - 8px);
		left: 0;
		right: 0;
		img{
			width: 100%;
			filter: drop-shadow(0px -14px 15px rgba(0, 42, 92, 0.10));
		}
	}
}

.bottom-btn{
	padding: 15px 30px;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
	.sub-title{
		font-size: 15px;
		text-align: center;
		font-weight: 400;
	}
	.btn-link{
		font-size: 14px;
		display: inline-block;
		color: var(--bs-primary);
		text-decoration: underline;
	}
	&.style-2{
		position: absolute;
		bottom: 0;
		padding: 5px 30px 15px;
		z-index: 9;
	}
}
/* +++++++++++++++ */
