// Card Style ===
.dz-card{
    border: 1px solid var(--bs-light);
    box-shadow: 0px 5px 5px rgba(5, 21, 55, 0.02);
    border-radius: 6px;
    height: 100%;
    .card-info{
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .title{
        font-size: 15px;
        margin-bottom: 0;
    }
    .c-name{
        font-size: 12px;
        color: var(--bs-primary);
        font-weight: 500;
    }
    .c-logo{
        width: 40px;
        min-width: 40px;
        height: 40px;
        border-radius: 6px;
        background-color: var(--bs-body-bg);
        border: 1px solid var(--bs-light);
        margin-right: 10px;
        > img{
            width: 100%;
        }
    }
    .dz-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .c-salery{
        color: var(--bs-body-color);
        font-weight: 600;
        font-size: 13px;
        i{
            font-size: 16px;
            color: var(--bs-primary);
        }
    }
    .c-review{
        display: flex;
        align-items: baseline;
        justify-content: end;
        flex-wrap: wrap;
        gap: 2px;  
        i{
            color: #FF9534;
            font-size: 14px;
        }
        .total-review{
            font-size: 12px;
            color: var(--bs-body-color);
            font-weight: 500;
        } 
    }
    .c-location{
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 12px;
        font-weight: 500;
        color: var(--bs-body-color);
        i{
            color: var(--bs-primary);
            font-size: 14px;
        }
    }
    .btn-group{
        >.btn{
            font-size: 12px;
            border-radius: 4px!important;
        }
    }
    .badge-btn{
        font-size: 12px;
        font-weight: 500;
    }
    .card-footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 15px;
        padding: 10px 0px;
        background-color: var(--bs-body-bg);
        color: var(--bs-body-color);
        span{
            display: flex;
            align-items: center;
            gap: 4px;
            font-size: 12px;
            font-weight: 500;
            i{
                font-size: 18px;
            }
            svg{
                width: 18px;
            }
            &.location i{
                font-size: 14px;
            }
        }
    }
    &.style-2{
        .card-info{
            justify-content: unset;
            margin-bottom: 15px;
        }
        .card-content{
            flex: 1;
        }
        .title{
            margin-bottom: 4px;
        }
    }
    &.style-3{
        height: auto;
        background-color: var(--body-bg2) !important;
        border-radius: 0;
        border: 0;
        margin: 0 -15px;
        box-shadow: unset;
        .c-logo{
            width: 60px;
            min-width: 60px;
            height: 60px;
            box-shadow: var(--bs-box-shadow);
            border-radius: 10px;
        }
        .card-info{
            align-items: center;
            gap: 10px;
            margin-bottom: 20px;
        }
        .card-content{
            flex: 1;
            .title{
                margin-bottom: 5px;
                font-size: 18px;
            }
        }
        .c-name{
            font-size: 14px;
            color: var(--bs-body-color);
        }
        .btn-group > .btn{
            font-size: 14px;
            border-radius: 6px !important;
        }
        .btn-group{
            margin-bottom: 22px;
        }
    }
}

// Job Board Tips Card 
.jb-tips-card{
    position: relative;
    overflow: hidden;  
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 6px;
    background: linear-gradient(180deg, rgba(25, 103, 210, 0) 0%, rgba(25, 103, 210, 0.1) 100%);
    border: 1px solid var(--bs-light);  
    height: 120px;
    .title{
        margin-bottom: 16px;
        line-height: 20px;
    }
    .dz-media{
        position: absolute;
        bottom: -3px;
        right: 6px;
        width: 145px;
    }
}
// Job Board Card
.job-card{
    border-radius: 6px;
    background: linear-gradient(180deg, rgba(25, 103, 210, 0) 0%, rgba(25, 103, 210, 0.1) 100%);
    border: 1px solid var(--bs-light);
    position: relative;
    overflow: hidden;  
    padding: 15px;
    .dz-media{
        position: absolute;
        bottom: 0;
        right: 6px;
        width: 80px;
        opacity: 0.10;
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 8px;
        li{
            font-size: 13px;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 10px;
            i{
                font-size: 16px;
                color: var(--bs-primary);
            }
        }
    }
} 



// Items BookMark 
.item-bookmark{
    font-size: 20px;
    i{
        color: var(--bs-body-color);
    }
    svg{
        path{
            fill: unset;
            stroke:var(--bs-body-color);
        }
    }
    &.active{
        i{
            color: var(--bs-primary);
            
        }
        svg{
            path{
                fill: var(--bs-primary);
                stroke: var(--bs-primary);
            }
        }
    }
}


//Status Card ==
.status-card{
    padding: 12px 12px;
    border: 2px solid var(--border-color);
    border-radius: var(--bs-border-radius-sm);
    @include transitionMedium;
    cursor: pointer;
    p{
        font-size: 13px;
    }
    &:hover{
        border-color: var(--bs-primary);
        background-color: rgba(var(--bs-primary-rgb), 0.05);
        .title{
            color: var(--bs-primary);
        }
    }
}