.card{
    .card-header{
        border-bottom: 1px solid var(--bs-border-color);
        .card-title{
            margin-bottom: 0;
        }
    }
    .card-footer{
        border-top: 1px solid var(--bs-border-color);
        .card-title{
            margin-bottom: 0;
        }
    }
    &.text-bg-secondary,
    &.text-bg-dark{
        --bs-card-title-color: var(--title);
    }
    .card-body{
        .form-control{
            border-color: var(--bs-border-color);
        }
    }
}